<% @title="eSat Pattern Library - Navigation" %>
<% @desc="The various navigational features of the eSat site." %>

<!-- this is where i left off do this to every site -->
<%= render :partial=> "/pattern-library/navigation/sidebar" %>
<div class="d-grid_9 container_4">
  <section>
    <%= render "header/index" %>
    <div class="divider top-margin"></div>
    <%= render "directory-navigation/index" %>
    <div class="divider top-margin"></div>
    <%= render "tabs/index" %>
    <div class="divider top-margin"></div>
    <%= render "breadcrumbs/index" %>
    <div class="l-content-homepage"></div>
  </section>
</div>
