<% @title="eSat Pattern Library - Form Elements" %>
<% @desc="Form elements consist of buttons, menus, inputs fields, and validation." %>

<%= render :partial=> "/pattern-library/form-elements/sidebar" %>
<div class="d-grid_9 container_4">
  <section id="form-elements">
    <%= render "buttons/index" %>
    <div class="divider top-margin"></div>
    <%= render "select-menu/index" %>
    <div class="divider top-margin"></div>
    <%= render "inputs-labels/index" %>
    <div class="divider top-margin"></div>
    <%= render "validation/index" %>
    <div class="l-content-homepage"></div>
  </section>
</div>
