<div class="d-grid_3 d-alpha m-sidebar-nav">
  <div id="side-nav" class="m-sidebar-nav-desktop">
      <ul class="m-sidebar-nav-list affix">
        <li class="m-sidebar-nav-list-item">
          <a href="<%= domain %>pattern-library/" class="m-sidebar-nav-list-item-link">Overview</a>
        </li>
        <li class="m-sidebar-nav-list-item">
          <a href="<%= domain %>pattern-library/grid-system" class="m-sidebar-nav-list-item-link">Grid System</a>
        </li>
        <li class="m-sidebar-nav-list-item">
          <a href="<%= domain %>pattern-library/typography" class="m-sidebar-nav-list-item-link">Typography</a>
        </li>
        <li class="m-sidebar-nav-list-item">
          <a href="<%= domain %>pattern-library/form-elements" class="m-sidebar-nav-list-item-link">Form Elements</a>
        </li>
        <li class="m-sidebar-nav-list-item">
          <a href="<%= domain %>pattern-library/navigation" class="m-sidebar-nav-list-item-link">Navigation</a>
        </li>
        <li class="m-sidebar-nav-list-item">
          <a href="<%= domain %>pattern-library/lists-tables" class="m-sidebar-nav-list-item-link">Lists &amp; Tables</a>
        </li>
        <li class="m-sidebar-nav-list-item">
          <a href="<%= domain %>pattern-library/iconography" class="m-sidebar-nav-list-item-link">Iconography</a>
        </li>
        <li class="m-sidebar-nav-list-item">
          <a href="<%= domain %>pattern-library/animations" class="m-sidebar-nav-list-item-link">Animations</a>
        </li>
        <li class="m-sidebar-nav-list-item">
          <a href="<%= domain %>pattern-library/colors" class="m-sidebar-nav-list-item-link">Colors & Styles</a>
        </li>
        <li class="m-sidebar-nav-list-item active">
          <a href="javascript:void(0);" class="m-sidebar-nav-list-item-link m-sidebar-section">Banners &amp; Modules</a>
            <ul class="m-sidebar-nav-goto m-sidebar-nav-sub-list">
                <li class="m-sidebar-nav-sub-list-item">
                  <a href="#featured-items" class="m-nested-sidebar-nav-list-item-link no-caps">Featured Items</a>
                </li>
                <li class="m-sidebar-nav-sub-list-item">
                  <a href="#ad-modules" class="m-nested-sidebar-nav-list-item-link no-caps">Ad Modules</a>
                </li>
            </ul>
        </li>
      </ul>
    </div>
</div>
