  <table class="table m-order-history-table">
    <thead class="table-head">
      <tr class="table-row">
        <th class="table-header" colspan="5">Collections (All Related)</th>
      </tr>
    </thead>
    <thead class="table-head for-agency">
      <tr class="table-row">
        <th class="table-header" colspan="5">Homepage</th>
      </tr>
    </thead>
    <tbody class="table-body">
      <tr class="table-row">
        <th class="table-header">Image</th>
        <th class="table-header">Size</th>
        <th class="table-header">File Type</th>
        <th class="table-header">Usage</th>
        <th class="table-header">Sample</th>
      </tr>
      <tr class="table-row">
        <td class="table-data">Background</td>
        <td class="table-data">1400px x 560px</td>
        <td class="table-data">jpg</td>
        <td class="table-data"><a href="<%= domain %>batch3/homepage" target="_blank">homepage</a>, <a href="<%= domain %>batch3/collections_landing" target="_blank">collections landing</a>, <a href="<%= domain %>batch3/collection" target="_blank">collection detail</a>, additional product module</td>
        <td class="table-data"><img src="<%= domain %>images/homepage/featured-bg-tall.jpg"/></td>
      </tr>
      <tr class="table-row">
        <td class="table-data">Background Mobile</td>
        <td class="table-data">768px x 220px</td>
        <td class="table-data">jpg</td>
        <td class="table-data"><a href="<%= domain %>batch3/homepage" target="_blank">homepage</a>, <a href="<%= domain %>batch3/collections_landing" target="_blank">collections landing</a>, <a href="<%= domain %>batch3/collection" target="_blank">collection detail</a>, additional product module</td>
        <td class="table-data"><img src="<%= domain %>images/homepage/m-featured-bg.jpg"/></td>
      </tr>
      <tr class="table-row">
        <td class="table-data">Title Image</td>
        <td class="table-data">460px x 90px</td>
        <td class="table-data">png</td>
        <td class="table-data"><a href="<%= domain %>batch3/homepage" target="_blank">homepage</a>, <a href="<%= domain %>batch3/collections_landing" target="_blank">collections landing</a>, <a href="<%= domain %>batch3/collection" target="_blank">collection detail</a></td>
        <td class="table-data"><img src="<%= domain %>images/collections/monets-collection-title-mobile.png"/></td>
      </tr>
      <tr class="table-row for-agency">
        <td class="table-data">Tag-line</td>
        <td class="table-data">~72 Characters</td>
        <td class="table-data">--</td>
        <td class="table-data"><a href="<%= domain %>batch3/homepage" target="_blank">homepage</a>, <a href="<%= domain %>batch3/collections_landing" target="_blank">collections landing</a>, <a href="<%= domain %>batch3/collection" target="_blank">collection detail</a>, additional product module</td>
        <td class="table-data"><img src="<%= domain %>images/pattern-library/collections-tagline.png"/></td>
      </tr>
      <tr class="table-row for-agency">
        <td class="table-data">Product Large format</td>
        <td class="table-data">272px x 340px</td>
        <td class="table-data">png</td>
        <td class="table-data"><a href="<%= domain %>batch3/homepage" target="_blank">homepage</a>, <a href="<%= domain %>batch3/collection" target="_blank">collection</a>, collection promo mini</td>
        <td class="table-data"><img src="<%= domain %>images/pattern-library/featured_occasion-prods.png"/></td>
      </tr>
      <tr class="table-row for-agency">
        <td class="table-data">Main Copy</td>
        <td class="table-data">~184 Characters</td>
        <td class="table-data">--</td>
        <td class="table-data"><a href="<%= domain %>batch3/homepage" target="_blank">homepage</a></td>
        <td class="table-data"><img src="<%= domain %>images/pattern-library/featured_occasion-copy.png"/></td>
      </tr>
    </tbody>
  </table>
  <table class="table m-order-history-table">
    <thead class="table-head for-agency">
      <tr class="table-row">
        <th class="table-header" colspan="5">Landing Page</th>
      </tr>
    </thead>
    <tbody class="table-body">
      <tr class="table-row for-agency">
        <td class="table-data">Header Tagline</td>
        <td class="table-data">~66 Characters</td>
        <td class="table-data">--</td>
        <td class="table-data"><a href="<%= domain %>batch3/collections_landing" target="_blank">collections landing</a></td>
        <td class="table-data"><img src="<%= domain %>images/pattern-library/collect_landing-tagline.png"/></td>
      </tr>
      <tr class="table-row for-agency">
        <td class="table-data">Header Copy</td>
        <td class="table-data">~135 Characters</td>
        <td class="table-data">--</td>
        <td class="table-data"><a href="<%= domain %>batch3/collections_landing" target="_blank">collections landing</a></td>
        <td class="table-data"><img src="<%= domain %>images/pattern-library/collect_landing-copy.png"/></td>
      </tr>
      <tr class="table-row">
        <td class="table-data">Landing Bouquet Group</td>
        <td class="table-data">574px x 335px</td>
        <td class="table-data">png</td>
        <td class="table-data"><a href="<%= domain %>batch3/collections_landing" target="_blank">collections landing</a></td>
        <td class="table-data"><img src="<%= domain %>images/collections/monets-collection.png"/></td>
      </tr>
      <tr class="table-row for-agency">
        <td class="table-data">Main Promo Headline</td>
        <td class="table-data">~48 Characters</td>
        <td class="table-data">--</td>
        <td class="table-data"><a href="<%= domain %>batch3/collections_landing" target="_blank">collections landing</a></td>
        <td class="table-data"><img src="<%= domain %>images/pattern-library/collect_landing-promo_headline.png"/></td>
      </tr>
      <tr class="table-row for-agency">
        <td class="table-data">Main Promo Copy</td>
        <td class="table-data">~170 Characters</td>
        <td class="table-data">--</td>
        <td class="table-data"><a href="<%= domain %>batch3/collections_landing" target="_blank">collections landing</a></td>
        <td class="table-data"><img src="<%= domain %>images/pattern-library/collect_landing-promo_copy.png"/></td>
      </tr>
      <tr class="table-row for-agency">
        <td class="table-data">Main Promo Product Icons</td>
        <td class="table-data">220px x 275px</td>
        <td class="table-data">png</td>
        <td class="table-data"><a href="<%= domain %>batch3/collections_landing" target="_blank">collections landing</a>, <a href="<%= domain %>batch3/collection" target="_blank">collection detail</a></td>
        <td class="table-data"><img src="<%= domain %>images/pattern-library/collect_landing-promo_prods.png"/></td>
      </tr>
      <tr class="table-row">
        <td class="table-data">Promo Block Background</td>
        <td class="table-data">460px x 264px  </td>
        <td class="table-data">jpg</td>
        <td class="table-data"><a href="<%= domain %>batch3/collections_landing" target="_blank">collections landing</a></td>
        <td class="table-data"><img src="<%= domain %>images/collections/bkg_persian.png"/></td>
      </tr>
      <tr class="table-row for-agency">
        <td class="table-data">Promo Block Product</td>
        <td class="table-data">220px x 275px</td>
        <td class="table-data">png</td>
        <td class="table-data"><a href="<%= domain %>batch3/collections_landing" target="_blank">collections landing</a></td>
        <td class="table-data"><img src="<%= domain %>images/bouqs/cat_bouq_02.png"/></td>
      </tr>
      <tr class="table-row">
        <td class="table-data">Promo Block Title</td>
        <td class="table-data">220px x 104px</td>
        <td class="table-data">png</td>
        <td class="table-data"><a href="<%= domain %>batch3/collections_landing" target="_blank">collections landing</a></td>
        <td class="table-data"><img src="<%= domain %>images/collections/title-lovely-mobile.png"/></td>
      </tr>
      <tr class="table-row for-agency">
        <td class="table-data">Promo Block Copy</td>
        <td class="table-data">~64 Characters</td>
        <td class="table-data">--</td>
        <td class="table-data"><a href="<%= domain %>batch3/collections_landing" target="_blank">collections landing</a></td>
        <td class="table-data"><img src="<%= domain %>images/pattern-library/collect_landing-promoblock_copy.png"/></td>
      </tr>
      <tr class="table-row">
        <td class="table-data">Small Promo</td>
        <td class="table-data">195px x 233px</td>
        <td class="table-data">jpg</td>
        <td class="table-data"><a href="<%= domain %>batch3/collections_landing" target="_blank">collections landing</a>, mega-navigation</td>
        <td class="table-data"><img src="<%= domain %>images/parisian-sample.jpg"/></td>
      </tr>
      <tr class="table-row for-agency">
        <td class="table-data">Small Promo Copy</td>
        <td class="table-data">~64 Characters</td>
        <td class="table-data">--</td>
        <td class="table-data"><a href="<%= domain %>batch3/collections_landing" target="_blank">collections landing</a></td>
        <td class="table-data"><img src="<%= domain %>images/pattern-library/collect_landing-smpromo_copy.png"/></td>
      </tr>
    </tbody>
  </table>
  <table class="table m-order-history-table">
    <thead class="table-head">
      <tr class="table-row">
        <th class="table-header" colspan="5">Detail Page</th>
      </tr>
    </thead>
    <tbody class="table-body">
      <tr class="table-row">
        <td class="table-data">Main Promo Side Images</td>
        <td class="table-data">500px x 290px</td>
        <td class="table-data">jpg</td>
        <td class="table-data"><a href="<%= domain %>batch3/collection" target="_blank">collection detail</a></td>
        <td class="table-data"><img src="<%= domain %>images/collections/monet_img1_500.jpg"/></td>
      </tr>
      <tr class="table-row for-agency">
        <td class="table-data">Main Promo Headline</td>
        <td class="table-data">~72 Characters</td>
        <td class="table-data">--</td>
        <td class="table-data"><a href="<%= domain %>batch3/collection" target="_blank">collection detail</a></td>
        <td class="table-data"><img src="<%= domain %>images/pattern-library/collect_detail-promo_headline.png"/></td>
      </tr>
      <tr class="table-row for-agency">
        <td class="table-data">Main Promo Copy</td>
        <td class="table-data">~120 Characters</td>
        <td class="table-data">--</td>
        <td class="table-data"><a href="<%= domain %>batch3/collection" target="_blank">collection detail</a></td>
        <td class="table-data"><img src="<%= domain %>images/pattern-library/collect_detail-promo_copy.png"/></td>
      </tr>
      <tr class="table-row for-agency">
        <td class="table-data">Bottom Promo Copy</td>
        <td class="table-data">~80 Characters</td>
        <td class="table-data">--</td>
        <td class="table-data"><a href="<%= domain %>batch3/collection" target="_blank">collection detail</a></td>
        <td class="table-data"><img src="<%= domain %>images/pattern-library/collect_detail-bttmpromo_copy.png"/></td>
      </tr>
    </tbody>
  </table>
  
