  <table class="table m-order-history-table">
    <thead class="table-head">
      <tr class="table-row">
        <th class="table-header" colspan="5">Content Images</th>
      </tr>
    </thead>

    <tbody class="table-body">
      <tr class="table-row">
        <th class="table-header">Image</th>
        <th class="table-header">Size</th>
        <th class="table-header">File Type</th>
        <th class="table-header">Usage</th>
        <th class="table-header">Sample</th>
      </tr>
      <tr class="table-row">
        <td class="table-data">Header</td>
        <td class="table-data">1400px x 240px</td>
        <td class="table-data">jpg</td>
        <td class="table-data"><a href="<%= domain %>batch5/flower_ideas_inspiration" target="_blank">flower ideas &amp; inspiration</a></td>
        <td class="table-data"><img src="<%= domain %>images/content_img_header_01-flower-ideas.jpg"/></td>
      </tr>
      <tr class="table-row">
        <td class="table-data">2-column Feature</td>
        <td class="table-data">220px x 240px</td>
        <td class="table-data">png</td>
        <td class="table-data"><a href="<%= domain %>batch5/flower_ideas_inspiration" target="_blank">flower ideas &amp; inspiration</a></td>
        <td class="table-data"><img src="<%= domain %>images/2col_feature_img_01.png"/></td>
      </tr>
      <tr class="table-row">
        <td class="table-data">Large Rectangle</td>
        <td class="table-data">340px x 280px</td>
        <td class="table-data">jpg</td>
        <td class="table-data"><a href="<%= domain %>batch5/gift_ideas" target="_blank">gift ideas</a></td>
        <td class="table-data"><img src="<%= domain %>images/gift-ideas-5.jpg"/></td>
      </tr>
      <tr class="table-row">
        <td class="table-data">Small Rectangle</td>
        <td class="table-data">220px x 150px</td>
        <td class="table-data">jpg</td>
        <td class="table-data"><a href="<%= domain %>batch5/gift_ideas" target="_blank">gift ideas</a></td>
        <td class="table-data"><img src="<%= domain %>images/gift-ideas-1.jpg"/></td>
      </tr>
      <tr class="table-row">
        <td class="table-data">Large Square</td>
        <td class="table-data">220px x 220px</td>
        <td class="table-data">jpg</td>
        <td class="table-data"><a href="<%= domain %>batch5/gift_ideas" target="_blank">gift ideas</a></td>
        <td class="table-data"><img src="<%= domain %>images/gift-ideas-6.jpg"/></td>
      </tr>
      <tr class="table-row">
        <td class="table-data">Small Square</td>
        <td class="table-data">140px x 140px</td>
        <td class="table-data">jpg</td>
        <td class="table-data"><a href="<%= domain %>batch5/gift_ideas" target="_blank">gift ideas</a></td>
        <td class="table-data"><img src="<%= domain %>images/gift-ideas-2.jpg"/></td>
      </tr>
      <tr class="table-row">
        <td class="table-data">Circle</td>
        <td class="table-data">180px x 180px</td>
        <td class="table-data">png</td>
        <td class="table-data"><a href="<%= domain %>batch5/gift_ideas" target="_blank">gift ideas</a></td>
        <td class="table-data"><img src="<%= domain %>images/gift-ideas-4.png"/></td>
      </tr>
    </tbody>
  </table>
