  <table class="table m-order-history-table">
    <thead class="table-head">
      <tr class="table-row">
        <th class="table-header" colspan="5">Deal of the Day Images</th>
      </tr>
    </thead>

    <tbody class="table-body">
      <tr class="table-row">
        <th class="table-header">Image</th>
        <th class="table-header">Size</th>
        <th class="table-header">File Type</th>
        <th class="table-header">Usage</th>
        <th class="table-header">Sample</th>
      </tr>
      <tr class="table-row">
        <td class="table-data">Header Desktop</td>
        <td class="table-data">1400px x 260px</td>
        <td class="table-data">jpg</td>
        <td class="table-data"><a href="<%= domain %>batch3/deal_of_the_day" target="_blank">deal of the day</a></td>
        <td class="table-data"><img src="<%= domain %>images/deal/dod_header.jpg"/></td>
      </tr>
      <tr class="table-row">
        <td class="table-data">Header Mobile</td>
        <td class="table-data">768px x 260px</td>
        <td class="table-data">jpg</td>
        <td class="table-data"><a href="<%= domain %>batch3/deal_of_the_day" target="_blank">deal of the day</a></td>
        <td class="table-data"><img src="<%= domain %>images/deal/m_dod_header.jpg"/></td>
      </tr>
      <tr class="table-row">
        <td class="table-data">Title Image</td>
        <td class="table-data">320px x 57px</td>
        <td class="table-data">png</td>
        <td class="table-data"><a href="<%= domain %>batch3/deal_of_the_day" target="_blank">deal of the day</a></td>
        <td class="table-data"><img src="<%= domain %>images/deal/title_ribbon.png"/></td>
      </tr>
      <tr class="table-row for-agency">
        <td class="table-data">Header Copy</td>
        <td class="table-data">~190 Characters</td>
        <td class="table-data">--</td>
        <td class="table-data"><a href="<%= domain %>batch3/deal_of_the_day" target="_blank">deal of the day</a></td>
        <td class="table-data"><img src="<%= domain %>images/pattern-library/dotd_promo.png"/></td>
      </tr>
    </tbody>
  </table>
