  <table class="table m-order-history-table">
     <thead class="table-head">
      <tr class="table-row">
        <th class="table-header" colspan="5">Promotions</th>
      </tr>
    </thead>

    <tbody class="table-body">
      <tr class="table-row">
        <th class="table-header">Image</th>
        <th class="table-header">Size</th>
        <th class="table-header">File Type</th>
        <th class="table-header">Usage</th>
        <th class="table-header">Sample</th>
      </tr>
      <tr class="table-row">
        <td class="table-data">Home Main - Image</td>
        <td class="table-data">512px x 300px</td>
        <td class="table-data">jpg</td>
        <td class="table-data"><a href="<%= domain %>batch3/homepage" target="_blank">homepage</a></td>
        <td class="table-data"><img src="<%= domain %>images/homepage/middle-promo.jpg"/></td>
      </tr>
      <tr class="table-row for-agency">
        <td class="table-data">Home Main - Learn more</td>
        <td class="table-data">~62 Characters</td>
        <td class="table-data">--</td>
        <td class="table-data"><a href="<%= domain %>batch3/homepage" target="_blank">homepage</a></td>
        <td class="table-data"><img src="<%= domain %>images/pattern-library/promos-main-learnmore.png"/></td>
      </tr>
      <tr class="table-row for-agency">
        <td class="table-data">Home Main - Copy</td>
        <td class="table-data">~90 Characters</td>
        <td class="table-data">--</td>
        <td class="table-data"><a href="<%= domain %>batch3/homepage" target="_blank">homepage</a></td>
        <td class="table-data"><img src="<%= domain %>images/pattern-library/promos-main.png"/></td>
      </tr>
      <tr class="table-row">
        <td class="table-data">Home Bottom - Background</td>
        <td class="table-data">1400px x 560px</td>
        <td class="table-data">jpg</td>
        <td class="table-data"><a href="<%= domain %>batch3/homepage" target="_blank">homepage</a></td>
        <td class="table-data"><img src="<%= domain %>images/homepage/m-promo-bg.jpg"/></td>
      </tr>
      <tr class="table-row">
        <td class="table-data">Home Bottom - Bkgrd Mobile</td>
        <td class="table-data">768px x 220px</td>
        <td class="table-data">jpg</td>
        <td class="table-data"><a href="<%= domain %>batch3/homepage" target="_blank">homepage</a></td>
        <td class="table-data"><img src="<%= domain %>images/homepage/promo-bg.jpg"/></td>
      </tr>
      <tr class="table-row for-agency">
        <td class="table-data">Home Bottom - Headline</td>
        <td class="table-data">~74 Characters</td>
        <td class="table-data">--</td>
        <td class="table-data"><a href="<%= domain %>batch3/homepage" target="_blank">homepage</a></td>
        <td class="table-data"><img src="<%= domain %>images/pattern-library/promos-bttm_headline.png"/></td>
      </tr>
      <tr class="table-row for-agency">
        <td class="table-data">Home Bottom - Tagline</td>
        <td class="table-data">~144 Characters</td>
        <td class="table-data">--</td>
        <td class="table-data"><a href="<%= domain %>batch3/homepage" target="_blank">homepage</a></td>
        <td class="table-data"><img src="<%= domain %>images/pattern-library/promos-bttm_tagline.png"/></td>
      </tr>
      <tr class="table-row">
        <td class="table-data">Home Bottom - Foreground</td>
        <td class="table-data">460px x 340px</td>
        <td class="table-data">png</td>
        <td class="table-data"><a href="<%= domain %>batch3/homepage" target="_blank">homepage</a></td>
        <td class="table-data"><img src="<%= domain %>images/homepage/promo-fg.png"/></td>
      </tr>
      <tr class="table-row not-for-agency">
        <td class="table-data">4 column</td>
        <td class="table-data">700px x 224px</td>
        <td class="table-data">jpg</td>
        <td class="table-data"><a href="<%= domain %>batch4/subcategory_promos" target="_blank">subcategory promos</a></td>
        <td class="table-data"><img src="<%= domain %>images/product_grid/monet-4col.jpg"/></td>
      </tr>
      <tr class="table-row not-for-agency">
        <td class="table-data">2 column</td>
        <td class="table-data">340px x 224px</td>
        <td class="table-data">jpg</td>
        <td class="table-data"><a href="<%= domain %>batch4/subcategory_promos" target="_blank">subcategory promos</a></td>
        <td class="table-data"><img src="<%= domain %>images/product_grid/promo-2col.jpg"/></td>
      </tr>
      <tr class="table-row for-agency for-agency not-for-agency">
        <td class="table-data">2 column Copy</td>
        <td class="table-data">~100 Characters</td>
        <td class="table-data">--</td>
        <td class="table-data"><a href="<%= domain %>batch4/subcategory_promos" target="_blank">subcategory promos</a></td>
        <td class="table-data"><img src="<%= domain %>images/pattern-library/subcat_2col-promo_copy.png"/></td>
      </tr>
      <tr class="table-row">
        <td class="table-data">1 column</td>
        <td class="table-data">160px x 200px</td>
        <td class="table-data">jpg</td>
        <td class="table-data"><a href="<%= domain %>batch4/subcategory_promos" target="_blank">subcategory promos</a></td>
        <td class="table-data"><img src="<%= domain %>images/product_grid/daily-deal.jpg"/></td>
      </tr>
      <tr class="table-row for-agency">
        <td class="table-data">1 column Copy</td>
        <td class="table-data">~48 Characters</td>
        <td class="table-data">--</td>
        <td class="table-data"><a href="<%= domain %>batch4/subcategory_promos" target="_blank">subcategory promos</a></td>
        <td class="table-data"><img src="<%= domain %>images/pattern-library/subcat_1col-promo_copy.png"/></td>
      </tr>
      <tr class="table-row">
        <td class="table-data">Sidebar</td>
        <td class="table-data">220px x 275px</td>
        <td class="table-data">jpg</td>
        <td class="table-data"><a href="<%= domain %>batch2/category" target="_blank">category</a>, multiple pages</td>
        <td class="table-data"><img src="<%= domain %>images/category/promo-sidebar.jpg"/></td>
      <tr class="table-row">
        <td class="table-data">Teleflora Recommends</td>
        <td class="table-data">139px x 16px</td>
        <td class="table-data">gif/png/jpg</td>
        <td class="table-data"><a href="<%= domain %>batch4/subcategory_promos" target="_blank">subcategory promos</a></td>
        <td class="table-data"><img src="<%= domain %>images/pattern-library/subcat_tfrecommends.png"/></td>
      </tr>
    </tbody>
  </table>
