  <table class="table m-order-history-table">
    <thead class="table-head">
      <tr class="table-row">
        <th class="table-header" colspan="5">Product Hero</th>
      </tr>
    </thead>

    <tbody class="table-body">
      <tr class="table-row">
        <th class="table-header">Image</th>
        <th class="table-header">Size</th>
        <th class="table-header">File Type</th>
        <th class="table-header">Usage</th>
        <th class="table-header">Sample</th>
      </tr>
      <tr class="table-row">
        <td class="table-data">Product SKU (Standard, Deluxe, Premium): Desktop &amp; Mobile</td>
        <td class="table-data">368px x 460px</td>
        <td class="table-data">jpg</td>
        <td class="table-data"><a href="<%= domain %>batch2/pdp" target="_blank">pdp</a></td>
        <td class="table-data"><img src="<%= domain %>images/pdp/img_premium.jpg"/></td>
      </tr>
      <tr class="table-row">
        <td class="table-data">Product SKU Zoom</td>
        <td class="table-data">800px x 1000px</td>
        <td class="table-data">jpg</td>
        <td class="table-data"><a href="<%= domain %>batch2/pdp" target="_blank">pdp</a></td>
        <td class="table-data"><img src="<%= domain %>images/pdp/zoom_premium.jpg"/></td>
      </tr>
      <tr class="table-row">
        <td class="table-data">Product Environment &amp; Closeup: Desktop &amp; Mobile</td>
        <td class="table-data">460px x 460px</td>
        <td class="table-data">jpg</td>
        <td class="table-data"><a href="<%= domain %>batch2/pdp" target="_blank">pdp</a></td>
        <td class="table-data"><img src="<%= domain %>images/pdp/img_env.jpg"/></td>
      </tr>
      <tr class="table-row">
        <td class="table-data">Product Environment &amp; Closeup Zoom</td>
        <td class="table-data">1000px x 1000px </td>
        <td class="table-data">jpg</td>
        <td class="table-data"><a href="<%= domain %>batch2/pdp" target="_blank">pdp</a></td>
        <td class="table-data"><img src="<%= domain %>images/pdp/zoom_env.jpg"/></td>
      </tr>
    </tbody>
  </table>
