  <table class="table m-order-history-table">
    <thead class="table-head">
      <tr class="table-row">
        <th class="table-header" colspan="5">Product Module</th>
      </tr>
    </thead>

    <tbody class="table-body">
      <tr class="table-row">
        <th class="table-header">Image</th>
        <th class="table-header">Size</th>
        <th class="table-header">File Type</th>
        <th class="table-header">Usage</th>
        <th class="table-header">Sample</th>
      </tr>
      <tr class="table-row">
        <td class="table-data">Large format</td>
        <td class="table-data">272px x 340px</td>
        <td class="table-data">png</td>
        <td class="table-data"><a href="<%= domain %>batch3/homepage" target="_blank">homepage</a>, <a href="<%= domain %>batch3/collection" target="_blank">collection</a>, collection promo mini</td>
        <td class="table-data"><img src="<%= domain %>images/homepage/collection_products/img_1.png"/></td>
      </tr>
      <tr class="table-row">
        <td class="table-data">Transparent background: Desktop &amp; Mobile</td>
        <td class="table-data">160px x 200px</td>
        <td class="table-data">png</td>
        <td class="table-data">featured category module, collection module, similar products module, <a href="<%= domain %>batch3/404" target="_blank">404</a></td>
        <td class="table-data"><img src="<%= domain %>images/bouqs/cat_bouq_06.png"/></td>
      </tr>
      <tr class="table-row">
        <td class="table-data">White background: Desktop &amp; Mobile</td>
        <td class="table-data">160px x 200px</td>
        <td class="table-data">jpg</td>
        <td class="table-data"><a href="<%= domain %>batch1/account/order-history/order-detail" target="_blank">order detail</a>, modules without a background image, <a href="<%= domain %>batch2/search-results" target="_blank">search results</a>, <a href="<%= domain %>batch2/subcategory" target="_blank">subcategory</a>, <a href="<%= domain %>batch2/category" target="_blank">category</a>, pdp size module, sidebar carousel, checkout flow</td>
        <td class="table-data"><img src="<%= domain %>images/homepage/collection_products/img_1.png"/></td>
      </tr>
      <tr class="table-row">
        <td class="table-data">Mini</td>
        <td class="table-data">80px x 100px</td>
        <td class="table-data">jpg</td>
        <td class="table-data">mega-navigation, shopping cart mobile, Delivery info mobile, confirmation mobile, collection landing info strip, subscription promo</td>
        <td class="table-data"><img src="<%= domain %>images/thumbnail-fpo.jpg"/></td>
      </tr>
      <tr class="table-row">
        <td class="table-data">Micro</td>
        <td class="table-data">60px x 75px</td>
        <td class="table-data">jpg</td>
        <td class="table-data"><a href="<%= domain %>batch1/account/order-history" target="_blank">order history</a>, search dropdown</td>
        <td class="table-data"><img src="<%= domain %>images/order-history-sample-sm.jpg"/></td>
      </tr>
      <tr class="table-row">
        <td class="table-data">Flowers in this Bouquet</td>
        <td class="table-data">140px x 130px</td>
        <td class="table-data">png</td>
        <td class="table-data"><a href="<%= domain %>batch2/pdp" target="_blank">pdp</a></td>
        <td class="table-data"><img src="<%= domain %>images/pdp/pdp_flower_1.png"/></td>
      </tr>
    </tbody>
  </table>
