  <table class="table m-order-history-table">
    <thead class="table-head">
      <tr class="table-row">
        <th class="table-header" colspan="5">Sympathy Page</th>
      </tr>
    </thead>

    <tbody class="table-body">
      <tr class="table-row">
        <th class="table-header">Image</th>
        <th class="table-header">Size</th>
        <th class="table-header">File Type</th>
        <th class="table-header">Usage</th>
        <th class="table-header">Sample</th>
      </tr>
      <tr class="table-row">
        <td class="table-data">Header</td>
        <td class="table-data">1400px x 240px</td>
        <td class="table-data">jpg</td>
        <td class="table-data"><a href="<%= domain %>batch5/sympathy" target="_blank">sympathy &amp; funeral</a></td>
        <td class="table-data"><img src="<%= domain %>images/sympathy/sympathy_header.jpg"/></td>
      </tr>
      <tr class="table-row for-agency">
        <td class="table-data">Header Copy</td>
        <td class="table-data">~140 characters</td>
        <td class="table-data">--</td>
        <td class="table-data"><a href="<%= domain %>batch5/sympathy" target="_blank">sympathy &amp; funeral</a></td>
        <td class="table-data"><img src="<%= domain %>images/pattern-library/sympathy-header-copy.png" border="0"/></td>
      </tr>
      <tr class="table-row">
        <td class="table-data">Category Thumbnail</td>
        <td class="table-data">200px x 200px</td>
        <td class="table-data">jpg</td>
        <td class="table-data"><a href="<%= domain %>batch5/sympathy" target="_blank">sympathy &amp; funeral</a></td>
        <td class="table-data"><img src="<%= domain %>images/sympathy/category_service_04.jpg"/></td>
      </tr>
      <tr class="table-row for-agency">
        <td class="table-data">Category Thumbnail Title</td>
        <td class="table-data">~25 characters</td>
        <td class="table-data">--</td>
        <td class="table-data"><a href="<%= domain %>batch5/sympathy" target="_blank">sympathy &amp; funeral</a></td>
        <td class="table-data"><img src="<%= domain %>images/pattern-library/category-thumbnail-title.png"/></td>
      </tr>
      <tr class="table-row">
        <td class="table-data">Color Thumbnail</td>
        <td class="table-data">90px x 90px</td>
        <td class="table-data">jpg</td>
        <td class="table-data"><a href="<%= domain %>batch5/sympathy" target="_blank">sympathy &amp; funeral</a></td>
        <td class="table-data"><img src="<%= domain %>images/sympathy/color_thumb_01.jpg"/></td>
      </tr>
      <tr class="table-row">
        <td class="table-data">Guide Image</td>
        <td class="table-data">300px x 407px</td>
        <td class="table-data">png</td>
        <td class="table-data"><a href="<%= domain %>batch5/sympathy" target="_blank">sympathy &amp; funeral</a></td>
        <td class="table-data"><img src="<%= domain %>images/sympathy/guide_bouq.png"/></td>
      </tr>
      <tr class="table-row for-agency">
        <td class="table-data">Guide Image Side Text</td>
        <td class="table-data">~500 Characters (per side)</td>
        <td class="table-data">--</td>
        <td class="table-data"><a href="<%= domain %>batch5/sympathy" target="_blank">sympathy &amp; funeral</a></td>
        <td class="table-data"><img src="<%= domain %>images/pattern-library/guide-image-text.png"/></td>
      </tr>
    </tbody>
  </table>
