<% @title="eSat Pattern Library - Animations" %>
<% @desc="eSat's animation patterns and their user interactions." %>

<%= render :partial=> "/pattern-library/animations/sidebar" %>
<div class="d-grid_9 container_4">
  <section>
    <%= render "hover-states/index" %>
    <div class="divider top-margin"></div>
    <%= render "toggle-animations/index" %>
    <div class="divider top-margin"></div>
    <%= render "modal/index" %>
    <div class="divider top-margin"></div>
    <%= render "carousels/index" %>
    <div class="l-content-homepage"></div>
  </section>
</div>
