<section id="carousels" class="l-wrapper top-margin">
  <h2>Carousels</h2>
  <p>These carousels appear throughout the Teleflora site. Carousels must be initialized by calling the associated function that is flexslider(). For more information on the Teleflora's flexsilders review the documentation at <a href="http://www.woothemes.com/flexslider/" target="_tab">WooThemes</a>.</p>


    <!-- carousel section starts -->
    <div class="m-pdp-flowers-in-bouquet grid-4 d-grid_12 top-margin">
      <!-- wrapper starts -->
      <div class="l-content-pdp-flowers l-wrapper">

        <!-- flexslider container starts-->
        <div class="grid_4 d-grid_12 m-pdp-flowers-in-bouquet-flex-container">
          <!-- tool-tip -->
          <!-- <div id="pdpTooltip" class="m-pdp-tooltip no-mobile"></div> -->
          <!-- flexslider starts -->
          <div id="pdp-flowers-caro" class="flexslider m-pdp-flowers-flexslider">
            <!-- flexslider slides list starts -->
            <ul id="flowersInBouquet" class="slides">
              <!-- object container starts -->
              <li>
                <!-- flower in bouquet container starts -->
                <div class="m-pdp-flowers-in-bouquet-flower">
                  <!-- image -->
                  <img src="http://placehold.it/140x130" data-copy="With their elegant form and unforgettable fragrance, xxx burst with clusters of petite blossoms.." alt="bouquet flower image"/>
                  <!-- title tag -->
                  <p class="m-pdp-flowers-in-bouquet-flower-tag" data-name="Hydrangea">Title</p>
                </div>
                <!-- flower in bouquet ends -->
              </li>
              <!-- object container ends -->
              <!-- object container starts -->
              <li>
                <!-- flower in bouquet container starts -->
                <div class="m-pdp-flowers-in-bouquet-flower">
                  <!-- image -->
                  <img src="http://placehold.it/140x130" data-copy="With their elegant form and unforgettable fragrance, xxx burst with clusters of petite blossoms.." alt="bouquet flower image"/>
                  <!-- title tag -->
                  <p class="m-pdp-flowers-in-bouquet-flower-tag" data-name="Title">Title</p>
                </div>
                <!-- flower in bouquet ends -->
              </li>
              <!-- object container ends -->
              <!-- object container starts -->
              <li>
                <!-- flower in bouquet container starts -->
                <div class="m-pdp-flowers-in-bouquet-flower">
                  <!-- image -->
                  <img src="http://placehold.it/140x130" data-copy="With their elegant form and unforgettable fragrance, xxx burst with clusters of petite blossoms.." alt="bouquet flower image"/>
                  <!-- title tag -->
                  <p class="m-pdp-flowers-in-bouquet-flower-tag" data-name="Title">Title</p>
                </div>
                <!-- flower in bouquet ends -->
              </li>
              <!-- object container ends -->
              <!-- object container starts -->
              <li>
                <!-- flower in bouquet container starts -->
                <div class="m-pdp-flowers-in-bouquet-flower">
                  <!-- image -->
                  <img src="http://placehold.it/140x130" data-copy="With their elegant form and unforgettable fragrance, xxx burst with clusters of petite blossoms.." alt="bouquet flower image"/>
                  <!-- title tag -->
                  <p class="m-pdp-flowers-in-bouquet-flower-tag" data-name="Title">Title</p>
                </div>
                <!-- flower in bouquet ends -->
              </li>
              <!-- object container ends -->
              <!-- object container starts -->
              <li>
                <!-- flower in bouquet container starts -->
                <div class="m-pdp-flowers-in-bouquet-flower">
                  <!-- image -->
                  <img src="http://placehold.it/140x130" data-copy="With their elegant form and unforgettable fragrance, xxx burst with clusters of petite blossoms.." alt="bouquet flower image"/>
                  <!-- title tag -->
                  <p class="m-pdp-flowers-in-bouquet-flower-tag" data-name="Title">Title</p>
                </div>
                <!-- flower in bouquet ends -->
              </li>
              <!-- object container ends -->
              <!-- object container starts -->
              <li>
                <!-- flower in bouquet container starts -->
                <div class="m-pdp-flowers-in-bouquet-flower">
                  <!-- image -->
                  <img src="http://placehold.it/140x130" data-copy="With their elegant form and unforgettable fragrance, xxx burst with clusters of petite blossoms.." alt="bouquet flower image"/>
                  <!-- title tag -->
                  <p class="m-pdp-flowers-in-bouquet-flower-tag" data-name="Title">Title</p>
                </div>
                <!-- flower in bouquet ends -->
              </li>
              <!-- object container ends -->
              <!-- object container starts -->
              <li>
                <!-- flower in bouquet container starts -->
                <div class="m-pdp-flowers-in-bouquet-flower">
                  <!-- image -->
                  <img src="http://placehold.it/140x130" data-copy="With their elegant form and unforgettable fragrance, xxx burst with clusters of petite blossoms.." alt="bouquet flower image"/>
                  <!-- title tag -->
                  <p class="m-pdp-flowers-in-bouquet-flower-tag" data-name="Title">Title</p>
                </div>
                <!-- flower in bouquet ends -->
              </li>
              <!-- object container ends -->
              <!-- object container starts -->
              <li>
                <!-- flower in bouquet container starts -->
                <div class="m-pdp-flowers-in-bouquet-flower">
                  <!-- image -->
                  <img src="http://placehold.it/140x130" data-copy="With their elegant form and unforgettable fragrance, xxx burst with clusters of petite blossoms.." alt="bouquet flower image"/>
                  <!-- title tag -->
                  <p class="m-pdp-flowers-in-bouquet-flower-tag" data-name="Title">Title</p>
                </div>
                <!-- flower in bouquet ends -->
              </li>
              <!-- object container ends -->
            </ul>
            <!-- flexslider slides list ends -->
          </div>
          <!-- flexslider ends -->
        </div>
        <!-- flexslider container  ends-->

      </div>
      <!--  wrapper ends -->
    </div>
    <!-- carousel section ends -->

  <div class="clear"></div>
  <!-- code demo starts -->
  <div class="m-code l-wrapper">
    <table>
      <tbody>
        <tr>
          <td>
            <pre class="prettyprint linenums lang-html">
  &lt;!-- carousel section starts --&gt;
  &lt;div class="m-pdp-flowers-in-bouquet"&gt;
    &lt;!-- wrapper starts --&gt;
    &lt;div class="l-content-pdp-flowers l-wrapper"&gt;

      &lt;!-- flexslider container starts--&gt;
      &lt;div class="grid_4 d-grid_12 m-pdp-flowers-in-bouquet-flex-container"&gt;
        &lt;!-- tool-tip --&gt;
        &lt;div id="pdpTooltip" class="m-pdp-tooltip no-mobile"&gt;&lt;/div&gt;
       &lt;!-- flexslider starts --&gt;
       &lt;div id="pdp-flowers-caro" class="flexslider m-pdp-flowers-flexslider"&gt;
         &lt;!-- flexslider slides list starts --&gt;
         &lt;ul id="flowersInBouquet" class="slides"&gt;
           &lt;!-- object container starts --&gt;
           &lt;li&gt;
             &lt;!-- flower in bouquet container starts --&gt;
             &lt;div class="m-pdp-flowers-in-bouquet-flower"&gt;
               &lt;!-- image --&gt;
               &lt;img src="http://placehold.it/140x130" data-copy="With their elegant form and unforgettable fragrance, xxx burst with clusters of petite blossoms.." alt="bouquet flower image"/&gt;
               &lt;!-- title tag --&gt;
               &lt;p class="m-pdp-flowers-in-bouquet-flower-tag" data-name="Title"&gt;Title&lt;/p&gt;
             &lt;/div&gt;
             &lt;!-- flower in bouquet ends --&gt;
           &lt;/li&gt;
           &lt;!-- object container ends --&gt;
         &lt;/ul&gt;
         &lt;!-- flexslider slides list ends --&gt;
       &lt;/div&gt;
       &lt;!-- flexslider ends --&gt;
     &lt;/div&gt;
     &lt;!-- flexslider container  ends--&gt;

   &lt;/div&gt;
   &lt;!--  wrapper ends --&gt;
 &lt;/div&gt;
 &lt;!-- carousel section ends --&gt;
            </pre>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- code demo ends -->

<!-- best sellers container only displayed on desktops and laptops -->
<div class="no-mobile top-margin">
  <!-- class found in m-category.scss -->
  <!-- flexslider downloaded from: http://www.woothemes.com/flexslider/ -->
  <div class="m-category-bestsellers-pics d-grid_4">
    <!-- flexslider container -->
    <div id="bestsellersCaro">
      <!-- start of flexslider list elements -->
      <ul class="slides m-category-bestsellers">
        <!-- flexslider element uses <li>
        elements as template to add another iamge to the slide show-->
        <li>
          <div class="m-product-mini">
            <!-- individual product image active link -->
            <a href="<%= domain %>batch2/pdp">
              <!-- individual product image -->
              <figure class="fluid">
                <img alt="title" src="http://placehold.it/220x275" />
              </figure>
            </a>
            <!-- individual product active link -->
            <a href="<%= domain %>batch2/pdp" class="m-category-flower-link centered">Description copy #1
            </a>
            <!-- individual product price -->
            <a href="<%= domain %>batch2/pdp" class="m-product-price">$00.00</a>
          </div>
        </li>
        <!-- end flexslider element -->
        <!-- flexslider element -->
        <li>
          <div class="m-product-mini">
            <!-- individual product image active link -->
            <a href="<%= domain %>batch2/pdp">
              <!-- individual product image -->
              <figure class="fluid">
                <img alt="title" src="http://placehold.it/220x275" />
              </figure>
            </a>
            <!-- individual product active link -->
            <a href="<%= domain %>batch2/pdp" class="m-category-flower-link centered">Description copy #2</a>
            <!-- individual product price -->
            <a href="<%= domain %>batch2/pdp" class="m-product-price">$00.00</a>
          </div>
        </li>
        <li>
          <div class="m-product-mini">
            <!-- individual product image active link -->
            <a href="<%= domain %>batch2/pdp">
              <!-- individual product image -->
              <figure class="fluid">
                <img alt="title" src="http://placehold.it/220x275" />
              </figure>
            </a>
            <!-- individual product active link -->
            <a href="<%= domain %>batch2/pdp" class="m-category-flower-link centered">Description copy #3</a>
            <!-- individual product price -->
            <a href="<%= domain %>batch2/pdp" class="m-product-price">$00.00</a>
          </div>
        </li>
        <!-- flexslider element -->
      </ul>
    </div>
  </div>
</div>
<!-- end best sellers -->
<div class="clear"></div>
  <!-- code demo starts -->
  <div class="m-code l-wrapper top-margin">
    <table>
      <tbody>
        <tr>
          <td>
            <pre class="prettyprint linenums lang-html">
  &lt;!-- layout container starts --&gt;
  &lt;div class="m-category-bestsellers-pics d-grid_12"&gt;
    &lt;!-- flexslider container starts --&gt;
    &lt;div id="bestsellersCaro"&gt;
      &lt;!-- flexslider list element starts --&gt;
      &lt;ul class="slides m-category-bestsellers"&gt;
        &lt;li&gt;
          &lt;div class="m-product-mini"&gt;
            &lt;a href="#"&gt;
             &lt;figure class="fluid"&gt;
               &lt;img alt="title" src="http://placehold.it/220x275" /&gt;
             &lt;/figure&gt;
           &lt;/a&gt;
           &lt;a href="#" class="m-category-flower-link centered"&gt;Description copy #1
           &lt;/a&gt;
           &lt;a href="#" class="m-product-price"&gt;$00.00&lt;/a&gt;
         &lt;/div&gt;
       &lt;/li&gt;
     &lt;/ul&gt;
     &lt;!-- flexslider list element ends --&gt;
   &lt;/div&gt;
   &lt;!-- flexslider container ends --&gt;
 &lt;/div&gt;
 &lt;!-- layout container end --&gt;
            </pre>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- code demo ends -->


</section>
<!-- carousels section ends -->



<script type="text/javascript">
      var PDPlogged=false; //This should be taken out, on pdp.js Modernizr.loggedin should be used
      initLoad = true;
      Modernizr.load([
        {
          both: [
            '<%= domain %>javascripts/pdp.js',
            '<%= domain %>stylesheets/modules/flexslider.css',
            '<%= domain %>javascripts/modules/jquery.flexslider.js',
            '<%= domain %>javascripts/lib/jquery-ui-draggable.min.js',
          ],
          complete: function(){
            $('#flexsliderOneLoader').remove();

            if(Modernizr.mq("only all and (max-width:614px)")){
              //phone size
              /////////////////////////////////////////////////////////////////////////
              // load flexslider 1
              //initialize main PDP flexslider  MOBILE after local resources are loaded
              //see flexslider documentation on http://www.woothemes.com/flexslider/
              $('#pdp-main-caro').flexslider({
                initDelay: 0,
                animation: "fade",
                animationLoop: true,
                slideshow: false,
                pauseOnAction: true,
                pauseOnHover: true,
                touch: true,
                itemWidth: 1,
                itemMargin: 0,
                minItems: 1,
                maxItems: 1,
                controlNav: true,
                directionNav: false,
                keyboard: false,
                startAt: 0,
                start: function(){

                }
              });
            }
            //always load the second flexslider
            //flowers in this bouquet flexslider
            $('#pdp-flowers-caro').flexslider({
              animation: "slide",
              animationLoop: false,
              slideshow: false,
              itemWidth: teleflora.iWidth,
              itemMargin: teleflora.iMargin,
              minItems: 2,
              maxItems: teleflora.totalflowers,
              controlNav: teleflora.control,
              directionNav: false,
              start: function(){
                // show te section
                $('.m-pdp-flowers-in-bouquet').css('visibility', 'visible');
              }
            });
            //changed this to work with multiple flexsilders in the pattern library
            //initialize flexslider after local resources are loaded
            //see flexslider documentation on http://www.woothemes.com/flexslider/

            $('#bestsellersCaro').flexslider({
              initDelay: 0,
              animation: "fade",
              animationLoop: true,
              pauseOnAction: true,
              pauseOnHover: true,
              touch: true,
              itemWidth: 0,
              itemMargin: 0,
              minItems: 1,
              maxItems: 1,
              controlNav: false,
              keyboard: false,
              nextText: "",
              prevText: "",
              start: function(){
                $('.flex-direction-nav').after('<span class="flex-counter avenir">1/' + $('ul.m-category-bestsellers li').length + '</span>');
                $('#bestsellersCaro').find('li.flex-active-slide .m-product-mini').animate({
                    opacity: 1
                });
              },
              before: function(){
                $('#bestsellersCaro').find('li.flex-active-slide .m-product-mini').animate({
                    opacity: 0
                });
                $('.flex-direction-nav li.counter').animate({
                    opacity: 0
                });
              },
              after: function(){
                $('.flex-counter').text( ($('.m-category-bestsellers li.flex-active-slide').index()+1) + "/" + $('ul.m-category-bestsellers li').length );
                $('.flex-direction-nav li.counter').animate({
                    opacity: 1
                });
                $('#bestsellersCaro').find('li.flex-active-slide .m-product-mini').animate({
                    opacity: 1
                });
                }
            });

          }
        }
      ]);
</script>
